@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


*{
margin:0;
}


body{
color: white;
font-family: 'Roboto', sans-serif;
}

#slider{
height: 500px;
border: 1px solid black;
display:flex;
justify-content: center;
align-items: center;
background:black;
}

.container{
width: 1600px;
margin:auto;
}

.subcontainer{
width: 85%;
margin:auto;
}

.container{
display:flex;
justify-content: space-between;
}

.previous, .next{
padding: 2px;
width:30px;
cursor:pointer;
border-radius:50%;
outline: none;
transition: 0.7s ease-in-out;
border: 3px solid white;
background-color: #1a1a1a;
box-shadow: 0 0 5px #bbb;
}

.container{
text-align: center;
font-family: sans-serif;
}


